<!DOCTYPE HTML>
<html>
<head>
  <style>
      html{
        background-color: black;
        color: red;
      }
  </style>
  <%- include("css.ejs") %>
</head>
<body>

  <p>Before the script...</p>


  <p>...After the script.</p>

  <footer>
    <p>This is a footer</p>
  </footer>
</body>
<script src="./script.js"></script>

</html>