<!DOCTYPE HTML>
<html>
<head>
    <%- include('css.ejs') %>
</head>
<body>

    <h1>Preguntas de lab</h1>

  <p>1. ¿Qué beneficios encuentras en el estilo MVC?</p>
  <p>Con el uso del estilo MVC, el código sigue un aestructura muy organizada y fácil de mantener. Esto es un detalle sumamente importante al momento de trabajar con proyectos grandes que necesitan de varios archivos y usos. </p>
  <br>

  </p>2. ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
  <p> Alguna desventaja puede ser lo complejo de entender y organizar correctamente, ya que se necesita mucho cuidado al momento de conectar todo y usar comandos correctos. Además, la complejidad puede aumentar.</p>
  <br>




</body>
<%- include('scripts.ejs') %>

</html>